<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gocqhttp_CSharp.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gocqhttp_CSharp.AppSetting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ConfigFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="GocqhttpFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RobotID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RobotName" serializeAs="String">
                <value />
            </setting>
        </gocqhttp_CSharp.AppSetting>
    </userSettings>
</configuration>